body {
  font-family: "Poppins", sans-serif;
  background-color: #ffe6f0;
  color: #4a004e;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 10%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
}

.button-container {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  background-color: #ff66b2;
  color: white;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ff1a8c;
}

.cancel {
  background-color: #b84dff;
}

.cancel:hover {
  background-color: #9933cc;
}

.volver {
  background-color: #999;
}

.turnos-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.turno {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-cancelar {
  background-color: #ff3366;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn-cancelar:hover {
  background-color: #cc0044;
}
