<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio - Nails Studio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='cancelar.html.css') }}">
</head>
<body>
  <div class="container">
    <h1>Nails Studio</h1>
    <p>Bienvenida a tu agenda personal</p>

    <div class="button-container">
      <a href="catalogo.html" class="btn">Agendar turno</a>
      <a href="cancelar.html" class="btn cancel">Cancelar turno</a>
    </div>
  </div>
</body>
</html>
